{% extends 'base.html' %}

{% block content %}

    	<section>
            <div class="container">
                <div class="row">
                    <div class="offset-1 col-10">
                        <div class="input-group mb-3">
                          <input id="input_user" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Pose une question à Papy">
                            <button id= "go_button" type="button" class="btn btn-secondary btn-sm">Go</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-1 col-10">
                        <div id="conversation">
                            <div class="row">
                                <div class="col-1">
                                    <div id="image_papy">
                                        <img src="{{ url_for('static', filename='img/reponse.png') }}">
                                    </div>
                                </div>
                                <div class="offset-2 col-8">
                                    <div class="answer"> Que veux-tu savoir mon petit ?</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-1 col-10 text-center">
                        <div id="googlemap">
                             <div id="map"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}