
.img_grandpy
{
  background-color: white; 
  background-blend-mode: multiply;
}

#result
{
  border: 1px solid grey;
  height: 400px;
  line-height: 40px;
}

#history
{
  border: 1px solid grey;
  margin-bottom: 15px;
  height: 40px;
}

@font-face {
    font-family: 'MyAmblePolice';
    src: url("{{ url_for('static', filename='css/fonts/amble/Amble-Regular.ttf') }}");
}

h1
{
    font-size: x-large;
     color: black;
     font-family: 'MyAmblePolice', Arial-Black, Impact;
}

header 
{
    height: 125px;
    margin-bottom: 15px;
    border: 2px solid black;
}

footer
{
  height: 50px;
}


header .row {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

footer .container {
  padding-top: 40px;
  line-height: 5px;
  text-align: center;
  /*border-top: 1px solid grey;*/
  border: 2px solid black;
}

section .row{
  margin-bottom: 10px
}

#test{
    background-color: black;
}

#conversation {
  border: 1px solid grey;
  height: 400px;
  line-height: 40px;
}

#googlemap {
  border: 1px solid grey;
  height: 400px;
  line-height: 40px;
}