
.img_grandpy {
  background-color: white; 
}

@font-face {
    font-family: 'MyAmblePolice';
    src: url("/static/fonts/amble/Amble-Regular.ttf");
}

@font-face {
    font-family: 'TrueCrime';
    src: url("/static/fonts/TrueCrimes/true-crimes.ttf");
}

h1
{
    padding-top: 15px; 
    font-size: xx-large;
     color: black;
     font-family: TrueCrime, MyAmblePolice, Arial-Black, Impact;
}

h2
{
    font-size: x-large;
    color: black;
    font-family: TrueCrime, MyAmblePolice, Arial-Black, Impact;
    text-decoration: none;
}

header 
{
  height: 110px;
}

footer
{
  height: 50px;
}

header .container {
  border-bottom: 1px solid grey;
}

footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 5px;
  text-align: center;
  border-top: 1px solid grey;
  font-family: TrueCrime, MyAmblePolice, Arial-Black, Impact;
}

#conversation {
  border: 1px solid grey;
  height: 300px;
  line-height: 40px;
  margin-bottom: 15px; 
  background-color: white; 
  opacity: 0.8;
  border-radius: 10px; 
  color: grey;
}

#googlemap {
  border: 1px solid grey;
  height: 300px;
  line-height: 40px;
  margin-bottom: 15px; 
  border-radius: 10px; 
}

section {
  background-image: url("/static/img/up.jpg");
  background-size: 100%;
  opacity: 0.5;
}

section .form-control{
  margin-top: 15px; 
}